.sidebar {
  max-width: 360px;
  max-height: 840px;
  background-color: #f7f7f7;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.chooseLocation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 20px;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.inactive {
  color: #6c717b;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #6c717b;
}

.maintitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  color: #101828;
}

.locationInput {
  border-radius: 12px;
  padding-block: 18px;
  padding-inline: 20px 70px;
  padding-left: 48px;
  max-width: 312px;
  max-height: 56px;
  background-color: #fff;
  border: none;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.inputError {
  border: 1px solid #e44848;
}

.errorMessage {
  color: #e44848;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radioGroupColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #475467;
}

.radioLabel input[type="radio"] {
  appearance: none;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #475467;
  border-radius: 100%;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
}

.radioLabel input[type="radio"]:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #475467;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.labelText {
  color: #101828;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
}

.searchBtn {
  background-color: #829b91;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  padding-block: 16px;
  padding-inline: 60px;
  border-radius: 200px;
  width: 312px;
  height: 56px;
  border: none;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: #6d7b75;
}

.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 312px;
  height: 56px;
  background-color: #fff;
  cursor: pointer;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
}

.clearIcon {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.clearBtn:hover {
  background-color: #f5f5f5;
}
