.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  gap: 88px;
  padding: 64px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
}

.galleryWrapper {
  min-width: 0;
  height: 100%;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.upperInfo {
  background-color: #f7f7f7;
  border-radius: 16px;
  padding: 24px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  margin-bottom: 8px;
}

.infoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #101828;
}

.icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.price {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #101828;
  margin-top: 16px;
  margin-bottom: 24px;
}

.description {
  color: #475467;
}

.bookingSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.lowerInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px;
}

@media (min-width: 768px) {
  .lowerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


.reviewsColumn {
  flex: 0 0 50%;
}

.formColumn {
  flex: 0 0 50%;
}
